@import "../../../assets/sass/config.scss";
@import "../../../assets/sass/methods";

.main {
  text-align: center;
}

span img {
  width: 500px;
  height: 500px;
  margin: 20px;
}

span {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.content {
  padding: 20px;
}

.react-tabs {
  .content {
    padding-left: 50px;
    text-align: left;
    padding-top: 50px;
    h2 {
      color: $primary;
      font-size: 48px;
    }
    p {
      font-size: 18px;
      color: #222;
      font-weight: normal;
    }
  }
}
