@import "../../assets/sass/config";
@import "../../assets/sass/methods";

.rangeslider {
  border-radius: 0;
  box-shadow: none;
  margin: 2px 0 0 0;
  ul {
    margin: 0;
  }
  .rangeslider__fill {
    background-color: $primary;
    border-radius: 0;
    box-shadow: none;
  }
  .rangeslider__handle {
    box-shadow: none;
    width: 15px;
    height: 25px;
    border-radius: 0;
    &:after {
      content: none;
    }
  }
  .rangeslider__handle-label {
    display: none;
  }
}
