@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Nunito:wght@300;400;500;600&display=swap");

/**
*  color instance
*/

$error: #dc3545;
$white: #fff;
$gray: #6c757d;
$black: #313131;
$primary: #3075c6;
$secondary: #eaedf2;
$success: #009b72;
$light: #aaa;
$base: #2c3038;
$primary-2: #fc128d;
$warmGrey: #666666;
$grey: #555a65;
$lightgrey: #aaa;

$spacer-height: 20vw;
$section1-bg-color: #ffffff;
$section2-bg-color: #09bbd7;
$section3-bg-color: #fff;
$section4-bg-color: #fff;
$section5-bg-color: #333333;

// Inputs
$input-border: lighten($black, 50%);
$input-border-focus: lighten($primary, 15%);
$input-color-placeholder: lighten($black, 30%);

// fonts family instance
$robotoFont: "Nunito Sans", sans-serif;
